.fondo {
  background-color: white; }

footer {
  background-color: #3232c2; }

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr 0,5fr;
  grid-template-areas: "header" "nav" "formulario" "footer"; }

.grid {
  display: grid;
  grid-template-columns: 1fr 0,5fr;
  grid-template-rows: 0,5fr 1fr 2fr 1fr;
  grid-template-areas: "header header" "nav nav" "main aside" "footer footer";
  background-color: white; }

.aside {
  grid-area: aside; }

.parrafo {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  grid-area: main;
  display: flex;
  flex-direction: column;
  margin: 15px 15px 15px 15px; }

header {
  grid-area: header;
  color: #3232c2; }

.nav {
  grid-area: nav; }
  .nav .fondo {
    background-color: black; }
    .nav .fondo .color {
      color: white;
      padding-left: 25px;
      padding-top: 20px;
      padding-bottom: 20px; }

p {
  padding-left: 10px;
  padding-right: 10px; }

h2 {
  background-color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 10px;
  grid-area: titulo;
  font-family: Arial, Helvetica, sans-serif; }

.logos {
  width: 20px;
  height: 22px;
  background-repeat: no-repeat; }

.fotos {
  width: 340px;
  height: 250px;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 120px;
  display: inline-block; }

.footer {
  grid-area: footer;
  background-color: #3232c2; }

html {
  font-size: 62, 5%; }

body {
  background-color: #3232c2; }

.titulo {
  font-style: oblique;
  text-align: center;
  grid-area: header;
  background-color: white; }

main {
  grid-area: main; }

.noticia, .notav {
  background-color: #ffe1b5;
  border: solid 1px;
  margin: 20px; }
  .noticia h5, .notav h5 {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: inline-block; }
  .noticia .flexcaja, .notav .flexcaja {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    .noticia .flexcaja p, .notav .flexcaja p {
      margin-left: 10px; }
    .noticia .flexcaja .fotos, .notav .flexcaja .fotos {
      width: 160px;
      height: 200px;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      display: block;
      background-repeat: no-repeat; }

.notav {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-area: section; }
  .notav .fotosv {
    width: 120px;
    height: 150px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    background-repeat: no-repeat; }

.aside {
  grid-area: aside;
  margin: 20px;
  position: sticky;
  top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

footer {
  color: black;
  margin-top: 70px;
  margin-bottom: 0px;
  text-align: center;
  background-color: white;
  grid-area: footer; }

.formulario {
  text-align: center;
  grid-area: formulario; }

.carousel {
  grid-area: carrusel; }

.nav {
  grid-area: nav; }
  .nav .fondo {
    background-color: black; }
    .nav .fondo .color {
      color: white;
      padding-left: 25px;
      padding-top: 20px;
      padding-bottom: 20px; }
  .nav .logo {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    display: inline-block;
    transform: translate(10px, 10px);
    margin: 20px 20px 20px 20px; }

.gridpadre {
  display: grid;
  grid-template-columns: 2fr  1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 0,5fr;
  grid-template-areas: "header header header" "nav nav nav" "carrusel carrusel  carrusel" "main section aside" "footer footer footer"; }

@media (max-width: 768px) {
  .gridpadre {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0,5fr;
    grid-template-areas: "header header header" "nav nav nav" "main main aside" "footer footer footer"; }
  .notav {
    display: none; }
  .carousel {
    display: none; } }

@media (max-width: 500px) {
  .gridpadre {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0,5fr 1fr 0,5fr;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer"; }
  .notav {
    display: none; }
  .carousel {
    display: none; }
  .aside {
    display: none; } }
