.gridc {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr 0,5fr;
  grid-template-areas: "header" "nav" "formulario " "footer ";
  font-family: Arial, Helvetica, sans-serif; }

footer, .footer {
  background-color: white; }

.fondo {
  background-color: #3232c2; }

.formulario {
  grid-area: formulario;
  width: 400px; }

.email {
  color: white; }

.margen {
  margin: 30px 30px 80px 50px;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center; }

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas: "header " "nav" "formulario" "footer"; }
  .asdie {
    display: none; } }

.grid {
  display: grid;
  grid-template-columns: 1fr 0,5fr;
  grid-template-rows: 0,5fr 1fr 2fr 1fr;
  grid-template-areas: "header header" "nav nav" "main main" "footer footer";
  background-color: white;
  font-family: Arial, Helvetica, sans-serif; }

main {
  grid-area: main; }

.parrafo {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 15px 15px 15px 15px; }

header {
  grid-area: header;
  color: #3232c2; }

.nav {
  grid-area: nav; }
  .nav .fondo {
    background-color: black; }
    .nav .fondo .color {
      color: white;
      padding-left: 25px;
      padding-top: 20px;
      padding-bottom: 20px; }

p {
  padding-left: 10px;
  padding-right: 10px; }

h2 {
  background-color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 10px;
  grid-area: titulo; }

.logos {
  width: 20px;
  height: 22px;
  background-repeat: no-repeat; }

.fotosn {
  width: 350px;
  height: 250px;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 20px;
  display: inline-block; }

@media (max-width: 768) {
  .grid {
    grid-template-areas: "header header" "nav nav" "main main" "footer footer"; }
  h2 {
    width: 300px; }
  p {
    font-size: 75%;
    width: 500px; }
  .fotosn {
    width: 200px;
    height: 200px; } }

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "nav" "main" "footer"; }
  p {
    font-size: 70%;
    width: 400px; }
  h2 {
    width: 300px; }
  .fotosn {
    width: 200px;
    height: 200px; }
  .nav {
    max-width: 500px; } }

@media (max-width: 768) {
  .grid {
    grid-template-areas: "header header" "nav nav" "main main" "footer footer"; }
  h2 {
    width: 500px; }
  p {
    font-size: 75%;
    width: 500px; } }

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "nav" "main" "footer"; }
  p {
    font-size: 70%;
    width: 400px; }
  h2 {
    width: 400px; }
  .fotosn {
    width: 200px;
    height: 200px; } }

html {
  font-size: 62, 5%; }

body {
  background-color: #3232c2;
  font-family: Arial, Helvetica, sans-serif; }

.titulo {
  font-style: oblique;
  text-align: center;
  grid-area: header;
  background-color: white; }

main {
  grid-area: main; }

.noticia, .notav, .notav2 {
  background-color: #ffe1b5;
  border: solid 1px;
  margin: 20px; }
  .noticia .flexcaja, .notav .flexcaja, .notav2 .flexcaja {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    .noticia .flexcaja p, .notav .flexcaja p, .notav2 .flexcaja p {
      font-size: 80%; }
    .noticia .flexcaja .fotos, .notav .flexcaja .fotos, .notav2 .flexcaja .fotos {
      width: 200px;
      height: 160px;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      display: block;
      background-repeat: no-repeat; }

.notav {
  width: 250px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-area: section; }
  .notav p {
    font-size: 80%; }
  .notav .fotosv {
    width: 120px;
    height: 150px;
    margin-bottom: 10px;
    display: block;
    align-items: center;
    background-repeat: no-repeat; }

.notav2 {
  width: 250px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-area: section2; }
  .notav2 p {
    font-size: 80%; }
  .notav2 .fotosv {
    width: 120px;
    height: 140px;
    margin-top: 10px;
    display: block;
    background-repeat: no-repeat; }

footer, .footer {
  color: black;
  margin-top: 70px;
  margin-bottom: 0px;
  text-align: center;
  background-color: white;
  grid-area: footer; }

.carousel {
  grid-area: carousel; }

.formulario {
  text-align: center;
  grid-area: formulario; }

.nav {
  grid-area: nav; }
  .nav .fondo {
    background-color: black; }
    .nav .fondo .color {
      color: white;
      padding-left: 25px;
      padding-top: 20px;
      padding-bottom: 20px; }
  .nav .logo {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    display: inline-block;
    transform: translate(10px, 10px);
    margin: 20px 20px 20px 20px; }

.gridpadre {
  display: grid;
  grid-template-columns: 2fr  1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0,5fr;
  grid-template-areas: "header header" "nav nav" "carousel carousel" "main section " "main section2 " "footer footer "; }

@media (max-width: 768px) {
  .gridpadre {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0,5fr;
    grid-template-areas: "header header " "nav nav " "main main " "footer footer "; }
  .notav {
    display: none; }
  .notav2 {
    display: none; }
  .carousel {
    display: none; }
  p {
    font-size: 75%; } }

@media (max-width: 500px) {
  .gridpadre {
    grid-template-columns: 1fr;
    grid-template-rows: 0,5fr 1fr 1fr 0,5fr;
    grid-template-areas: "header" "nav" "main" "footer"; }
  .notav {
    display: none; }
  .notav2 {
    display: none; }
  .carousel {
    display: none; }
  p {
    font-size: 70%; }
  .fotos {
    width: 100px;
    height: 100px; } }
