.fondo{
    background-color: $colorsecundario;
}
footer{
    background-color: $colorprincipal;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 0,5fr;
    grid-template-areas: 
    "header"
    "nav"
    "formulario"
    "footer";
}