.fondo{
    background-color: map-get($estilos , color2 );
}
footer{
    background-color: map-get($estilos, color1 );
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 0,5fr;
    grid-template-areas: 
    "header"
    "nav"
    "formulario"
    "footer";
}