.fondo{
    background-color: map-get($estilos , color2 );
}
footer{
    background-color: map-get($estilos, color1 );
    margin-top: 80px;
}
    

.formulario{
    grid-area: formulario;
    margin: 30px 30px 30px 30px;
}
.aside{
    grid-area: aside;
}
.grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 0,5fr;
    grid-template-areas: 
    "header header"
    "nav nav"
    "formulario aside"
    "footer footer";
}
@media (max-width:500px){
    .grid{
        grid-template-columns: 1fr;
        grid-template-areas: "header "
        "nav"
        "formulario"
        "footer";
    }
    .asdie{ display: none;}
}