.grid{
    @extend .grid
}
.parrafo{
    @extend .parrafo
}
header{
    @extend header
}
main{ @extend main
}
.nav{
   @extend .nav
}
p{
    @extend p
}
h2{
    @extend h2
}
.logos{
   @extend .logos
}
.fotosn{
    @extend .fotosn}
.footer{
    @extend .footer
}
@media (max-width: 768){
.grid{
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "footer footer";
}
h2{
    width: 500px;
}
p{
    font-size: 75%;
    width: 500px;
}
.fotosn{
    @include sizes(200px, 200px)
}
}
@media (max-width: 500px){
    .grid{
        grid-template-columns: 1fr;
        grid-template-areas: "header"
        "nav"
        "main"
        "footer"}
    p{
        font-size: 70%;
        width: 400px;
    }
    h2{
        width: 400px;
    }
    .fotosn{
       @include sizes(200px, 200px)
    }
    }