@import "variables";
@import "contacto";
@import "nota1";
@import "nota2";
@import "nota3";


html {
    font-size: 62, 5%;
}

body {
    background-color: map-get($estilos, color1 );
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    font-style: oblique;
    text-align: center;
    grid-area: header;
    background-color: map-get($estilos, color2 );
}
main {
    grid-area: main;}
.noticia {
    background-color: map-get($estilos, color3 );
    border: solid 1px;
    margin: 20px;
    .flexcaja {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    
    p {
        font-size: 80%;
    }
    .fotos {
        @include sizes(200px,160px);
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        background-repeat: no-repeat;
    }}}

.notav {
    @extend .noticia;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    grid-area: section;
p{
        font-size: 80%;
    }

.fotosv {
        @include sizes(120px, 150px);
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px; 
        display: block;
        background-repeat: no-repeat;}
    }

        .notav2 {
            @extend .noticia;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start; 
            grid-area: section2;
            p{
                font-size: 80%;
            }
        
        .fotosv {
                @include sizes(120px, 140px);
                margin-left: 10px;
                margin-top: 10px;
                margin-bottom: 10px; 
                display: block;
                background-repeat: no-repeat;}}


footer {
    color: black;
    margin-top: 70px;
    margin-bottom: 0px;
    text-align: center;
    background-color: map-get($estilos, color2 );
    grid-area: footer;
}
.carousel{
    grid-area: carousel;
}

.formulario {
    text-align: center;
    grid-area: formulario;
}
.nav{
    grid-area: nav;
    .fondo{
        background-color: map-get($estilos, color4 );
    
        .color{
            color: map-get($estilos, color2 );
            padding-left: 25px; 
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    .logo {
        width: 80px;
        height: 80px;
        background-repeat: no-repeat;
        display: inline-block;
        transform: translate(10px, 10px);
        margin: 20px 20px 20px 20px;
    }
}
.gridpadre {
    display: grid;
    grid-template-columns:  2fr  1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0,5fr;
    grid-template-areas:
        "header header"
        "nav nav"
        "carousel carousel"
        "main section "
        "main section2 "
        "footer footer ";
}

@media (max-width: 768px) {
    .gridpadre{
        grid-template-columns: 2fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 0,5fr;
        grid-template-areas: 
        "header header "
        "nav nav "
        "main main "
        "footer footer ";
    }
    .notav{
        display: none;}
    .notav2{
        display: none;
    }
    .carousel{
        display: none;
    }
     } 
    

 @media (max-width: 500px) {
    .gridpadre {
        grid-template-columns: 1fr;
        grid-template-rows: 0,5fr 1fr 0,5fr;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
    }
    .notav{
        display: none;
    }
    .notav2{
        display: none;
    }
    .carousel{
        display: none;
    }

    }
